<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Check Availibility</title>
</head>
<body style="background-color:#128C7E">
    <h3 class="text-center">SIGN UP</h3><br>
    <div class="text-center">
      <h2>BOOk Slot 1 day prior</h2>
  <form id="form_id" class="form-inline mb-3">
    <label>Data</label><br>
    <input type="date" name="Date" id="date_id"><br><br>
    <label>Start Time</label><br>
    <input type="time" name="Start" id="start_id"><br><br>
    <label>End Time</label><br>
    <input type="time" name="End" id="end_id" maxlength="2"><br><br>
    <div class="text-center">
        <input type="submit" class="btn btn-success" value ="Add details "><br><br>  
      </div>
  </form> 
    </div>  
   

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script>
        <script src="slot.js"></script>
</body>
</html>